*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.pri{
    color: orangered;
}
.pri-btn{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: orangered;

}
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
/* header and nav style */
.navber{
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center ;
}
/* banner */
.banner{
    display: flex;
    align-items: center;
   margin: 0 200px;
}
.banner-sub{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-title{
    font-weight: 700;
    font-size: 70px;
}
.banner-dis{
    color: gray;
    margin-bottom: 30px;
}
.photo1{
    height: 500px;
    width: 600px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section title */
.about{

background-color:#FFF8F3 ;
border-radius: 10px;
padding: 130px 150px;
text-align: center;
}
.sec-title{
    
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
  
}
.sec-dis{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.info-about-con{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-did{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/* what i do */

.skills-cont{
    display: flex;
    gap: 24px;
}
.skill{
    background: #dbdbdb;
    box-shadow: 0px 6px rgb(238, 234, 234);
    border-radius: 5px;
    padding: 30px;
    
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-discr{
    color: #757575;
}
section{
    margin-top: 130px;
}
/* resume style */
.resume-contant{
    display: flex;
    gap: 24px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
color: #757575;
font-weight: 600;
font-size: 20px;
margin-bottom: 20px;
}
.resume .discr{
color: #757575;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}
.contract{
    display: flex;
    gap: 117px;
    background: #FFF8F3 ;
    padding: 130px 200px;
}
.contract .sec-title{
text-align: left ;
}
a{
    text-decoration: none;
}
.contract input[type="text"], input[type="Email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 19px 30px ;
}
input{
    height: 64px;
}